@font-face
{
    font-family: "readout";
    src: url('../RESOURCES/CUSTOM-FONTS/readout.ttf')
}

body, p {
    margin: 0;
}
h1.colored:hover, .imagery1:hover, main div.contents a{
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}
main div.contents a{
    transition-duration: 0.1s;
}
a{
    text-decoration: none;
    color: #4C00FF;
}
a:visited{
    color: cadetblue;
}
a.hover:hover{
    box-shadow: 0.4vw 0.4vw 0.6vw grey;
}

nav{
    position: sticky;
    background-color: white;
    top: 0px;
}
nav div.navcontentcontainer{
    display: flex;
    position: relative;
    height: 5vw;
    box-shadow: 0 0 0.2vw grey;
}
nav img{
    width: 14.4791666667vw;
    position: absolute;
    left: 2vw;
}
nav div.placeholder{
    width: 16.4791666667vw;
}
nav div.buttons{
    display: flex;
    justify-content: center;
    width: 83.5208333333vw;
    height: 5vw;
}
nav div.buttons div.button{
    width: calc(10vw - 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 400;
    height: 5vw;
    border-right: 1px black solid;
    background-color: grey;
}
nav div.buttons div.button p{
    font-family: Raleway;
}

header{
    display: flex;
    width: 100%;
    height: 64.9vh;
    border-bottom: 0.1vw grey dashed;
    min-height: 14vw; /*prevent the image from overflowing*/
    background: url('../RESOURCES/uranus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
}
section.textcontainer{
    margin: auto;
    display: flex;
}
section.textcontainer img{
    width: 14vw;
    height: auto;
    display: block;
}
div.insertedtext{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    height: 14vw;
}
div.insertedtext h1{
    display: inline-block;
    font-family: Raleway;
    font-weight: bold;
    color: white;
    font-size: 3vw;
    margin: 1.2vw 0;
}
div.insertedtext h1:not(:first-child){
    font-weight: normal;
}
div.insertedtext h1:nth-child(2){
    font-family: Inconsolata;
}
div.insertedtext h1:nth-child(3){
    font-family: Yellowtail;
}
div.insertedtext h1:nth-child(4){
    text-transform: uppercase;
    font-family: "Cinzel Decorative";
}
div.insertedtext h1:nth-child(5){
    font-family: serif;
}

.mainelement{
    border-bottom: 0.1vw grey dashed;
    font-family: Raleway;
    padding: 4vw 0;
}
.mainelement h1{
    text-align: center;
    margin-top: 0vw;
    font-family: Yellowtail, cursive;
    font-size: 3.5vw;
    font-weight: lighter;
}
.mainelement div.h1container h1:not(:only-of-type){
    display: inline-block;
}
.mainelement div.h1container{
    text-align: center;
}
.mainelement div.h1container h1.colored:hover{
    color: #04FFD4;
}
.mainelement div.contents{
    display: flex;
    align-items: center;
    padding: 4vw 8vw;
}
.mainelement div.contents img{
    width: calc(17vw - 1px);
    border: 1px white solid;
    border-radius: 50vw;
    flex-shrink: 0;
}
.mainelement div.contents p{
    text-align: center;
    vertical-align: middle;
    margin-left: 4.5vw;
    font-size: 2.5vw;
}
.backgrounded{

    background-repeat: no-repeat;
}
.oldbanner{
    background-image: url('../RESOURCES/bgs/absence.jpg');
    background-size: 100% 100%;
}

div.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
div.flex .margin{
    margin-left: 2vw;
    margin-bottom: calc(2vw - 1px);
}
h1.favorites{
    color: white; 
    font-family: readout; 
    font-weight: bold;
}
div.flex .margin:nth-of-type(5n + 1){
    margin-left: 0;
}
div.flex .margin a .imagery1{
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
}
div.flex hr{
    width: 100%;
    height: 1px;
    margin: 0;
    visibility: hidden;
}

.cllmarker:hover{
    box-shadow: 0 0 2vw #b23058;
}
.prommarker:hover{
    box-shadow: 0 0 2vw #dedff2;
}
.bijapanmarker:hover{
    box-shadow: 0 0 2vw #e75721;
}
.africamarker:hover{
    box-shadow: 0 0 2vw red;
}
.ilmbmarker:hover{
    box-shadow: 0 0 2vw blue;
}
.oarmarker:hover{
    box-shadow: 0 0 2vw brown;
}
.flomarker:hover{
    box-shadow: 0 0 2vw #b1ff00;
}
.farmarker:hover{
    box-shadow: 0 0 2vw #a51970;
}
.freaksmarker:hover{
    box-shadow: 0 0 2vw #8e8fa4;
}
.falxcemarker:hover{
    box-shadow: 0 0 2vw #d5b4ed;
}
.reidmarker:hover{
    box-shadow: 0 0 2vw #c93f9c;
}
.luekmarker:hover{
    box-shadow: 0 0 2vw #f4cfbd;
}
.whitneymarker:hover{
    box-shadow: 0 0 2vw #56b3f9;
}
.redfoomarker:hover{
    box-shadow: 0 0 2vw #00f600;
}
.modjomarker:hover{
    box-shadow: 0 0 2vw #d6c396;
}
.fleetwoodmarker:hover{
    box-shadow: 0 0 2vw 0.5vw #206ba0;
}