
html{
	scroll-behavior: smooth;
}
body{
    width: 100%;
	height: 100%;
	min-height: 100vh;
}

section{
	display: block;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
	background-color: burlywood;
	margin: 0;
}
  
  .window-scroll .top{
	display: block;
  }
  

  .window-scroll .top{
	animation: fadeIn 0.3s ease-in-out forwards;
  }
  
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateX(20px);
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
}

  
 
.top{
	background: url('../RESOURCES/ALLERGIES/upwards_facing_arrow.png');
	background-size: cover;
	width: calc(2vw + 2vh);
	height: calc(2vw + 2vh);
	border-radius: 50%;
	position: fixed;
	bottom: calc(30px + 2vh + 2vw + 20px);
	right: 40px;
	z-index: 1;
}
.back{
	background: url('../RESOURCES/PRIMARY/alternatepromise.png'), rgba(255, 255, 255, 0.8);
	background-size: 80% 80%;
	background-position: center;
	background-repeat: no-repeat;
	width: calc(2vw + 2vh);
	height: calc(2vw + 2vh);
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 40px;
	z-index: 1;
	box-shadow: 0vw 0vh 0.5vw grey;
}
.back:hover{
	box-shadow: 0vw 0vh 1vw #04FFD4;
	transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.container2{
	position: absolute;
	top: 30%;
	left: 15%;
}

nav{
	width:100%;
	padding-bottom:40px;
	text-align: center;
	border-top: 2vh ;
	border-bottom: 1px ;
	position: fixed;
	padding-top: 15px;
	z-index: 1;
}

ol{
	padding: 0;
	margin: 0;
	margin-top: 0.5%;
	list-style-type: none;
	font-size:20%;
	height:35px;
	line-height:200%;
	display: inline-block;
}

ol a{
	color: rgb(167, 102, 24);
	text-decoration: none;
	display: block;
	font-size: calc(1.0vw);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

ol > li{
	float:left;
	width: 10.8vw;
	height: 5vh;
	max-height: 5vw;
	border: 1px;
    border-radius: 4vh;
    margin-left: 1vw;
	background-color: rgb(243, 243, 243);
	position: relative;
}

ol > li:first-of-type{
	margin-left: 0;
}

li:hover {
	background-color: rgb(220, 220, 204);
	transition-duration: 0.15s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
}

.napis{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

section.dmuchawiec{
    background: url('../RESOURCES/ALLERGIES/dmuchawiec.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50vw;
	color: white;
	font-family: 'Chivo Mono';
	font-weight: bold;
	position: relative;
	padding-top:10vh;
}

h2{
	margin: 20px 0;
	font-size: 6vw;
	
}

section.dmuchawiec p{
	margin-top: 0px;
	font-size: 2vw;
}

footer{
	background-color: #3a3737;
	position: relative;
	height: 5vw;
	
}

.footercontainer{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #eeeeee;
	display: inline-block;
}

.footercontainer > p{
	float: left;
	margin: 0;
	font-size: 1vw;
	font-weight: bold;
	border-left: 1px dashed rgb(190, 186, 186);
}

.footercontainer > p:first-of-type{
	float: left;
	border: 0;
}

footer::after{
	clear: both;
}

section.defaultthread{
	white-space: pre-line;
	font-family: 'Chivo Mono';
	font-size: 1.5vw;
	background: white;
	border-bottom: 1px gray dashed;
	padding-top: 4%;
	padding-bottom: 4%;
	position: relative;
}
.center{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
}

.centerright{
	margin: 0;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(-50%, -50%);
}

img.responsiveimage{
	width: 20vw;
	height: 20vw;
	border-radius: 14px;
	transition:all 0.7s ease-in-out;
}
img.responsiveimage:hover{
	transform:scale(1.1);

}

.paragraphleft{
	padding-left: 40%;
	padding-right: 10%;
	margin-bottom: 1vh;
	display: inline-block;
}

section.defaultthread p.paragraphleft:first-of-type{
	margin-top: 0;
}

.paragraphright{
	padding-right: 40%;
	padding-left: 10%;
	margin-bottom: 1vh;
	display: inline-block;
}

section.defaultthread p.paragraphright:first-of-type{
	margin-top: 0;
}

section.parted1right::after{
	clear: both;
}

h1{
	font-weight: bold;
	margin-bottom: 3%;
}
h1.lefth1{
	padding-left: 40%;
	margin-left: 0;
}
h1.righth1{
	padding-left: 9.4%;
	margin-right: 0;
}
h1.centerh1{
	text-align: center;
}
@media screen and (min-width: 1705px){
	ol a{
		font-size: calc(1.3vw);
		line-height: 105%;
	}
}
li.menufirst{
	display: none;
}
@media screen and (max-width: 1000px){
	nav{
		display: none;
	}
}