body{
	background: linear-gradient(to right bottom, #7c52f1, #0094ff, #00c0ff, #00e3fc, #04ffd4);
	background-size: 100% 100%;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

a{
    color: black;
    display: contents;
}
footer p a{
    display: initial;
}

*[class*="clmarker"]:hover
{
    transition-duration: 0.20s;
    transition-timing-function: ease-out;
}

*[class*="clmarker"]
{
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

section.allergyclmarker:hover{
    box-shadow: 0vw 0vh 2vw  burlywood;
}
section.wladislausclmarker:hover{
    box-shadow: 0vw 0vh 2vw gold;
}
section.shpjhclmarker:hover{
    box-shadow: 0vw 0vh 2vw #04FFD4;
}
section.shwhpclmarker:hover{
    box-shadow: 0vw 0vh 2vw blue;
}
section.legacyhistoryclmarker:hover{
    box-shadow: 0vw 0vh 2vw #633d0c;
}
section.defaultsection{
    position: relative;
	margin: 5% auto;
	width: calc(45vw - 1px);
	border: white 1px solid;
	border-radius: 100vh;
	background-color: white;
    padding: 3vw;
    box-shadow: 0vw 0vh 0.9vw grey;
    box-sizing: border-box;
}
.filler{
    width: 100%;
    height: 5vw;
}
section.textcontainer{
    font-family: Raleway;
    display: block;
    position: absolute;
    margin-top: 0;
    margin-left: 2vw;
}
section.textcontainer > h1{
    font-weight: 900;
    margin: 0;
    font-size: 1.3vw;
    margin-bottom: 0.8vw;
    margin-right: 3vw;
}
section.textcontainer > p{
    margin: 0;
    color: #2e2c2a;
    margin-right: 3vw;
    font-weight: 900;
    font-size: 1vw;
    white-space: pre-line;
}
section.defaultsection *{
    display: inline-block;
}

img.iconimage{
    width: 10vw;
    height: 10vw;
}

header img{
    margin: auto;
    display: block;
    text-align: center;
    height: 5vw;
    width: auto;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0vw 0vh 0.4vw grey;
}

footer{
    background-color: #dddddd;
    width: 100%;
    padding: 2.5vh 2vw;
    max-height: 3vw;
    box-sizing: border-box;
    position: relative;
}
footer > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    margin: 0;
    font-family: Raleway;
    font-size: 1vw;
}
@media only screen and (max-aspect-ratio: 375/373)
{
    header img
    {
        height: 12vw;
        min-height: 10vh;
    }
    .filler{
        height: 12vw;
        min-height: 10vh;
    }
    .allergyclmarker{
        background: url('../RESOURCES/CORRIDOR/mobile/wheat-mobile-bg.jpg') center 62% no-repeat;
        background-size: cover;
        border: none;
    }
    .wladislausclmarker{
        background: url('../RESOURCES/CORRIDOR/mobile/wladyslaw.jpeg') 22% no-repeat;
        background-size: cover;
        background-position: 50% 20%;
    }
    .shpjhclmarker{
        background: url('../RESOURCES/CORRIDOR/mobile/stars.png') center no-repeat;
        background-size: cover;
    }
    .shwhpclmarker{
        background: url('../RESOURCES/bgs/potential-bg4.jpg') center no-repeat;
        background-size: cover;
    }
    section.legacyhistoryclmarker{
        background: url('../RESOURCES/CORRIDOR/mobile/kazimierzwielki-bg.jpg') center no-repeat;
        background-size: cover;
    }
    section.defaultsection
    {
        margin: 0;
        height: 40vh;
        width: 100%;
        box-shadow: none;
        border: 0;
        border-radius: 0;
        border-bottom: 0.4vh white ridge;
    }
    main
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    section.textcontainer
    {   
        position: absolute;
        top: 25%;
	    left: 40%;
        width: 70%;
        transform: translate(-50%, -50%);
        margin: 9.8vh 0 0 20%;
        display: inline-block;
    }
    section.shpjhclmarker:hover, section.wladislausclmarker:hover, section.allergyclmarker:hover, section.shwhpclmarker:hover, section.legacyhistoryclmarker:hover
    {
        box-shadow: none;
    }
    section.allergyclmarker
    {
        color: #302c27;
    }
    section.legacyhistoryclmarker, section.wladislausclmarker{
        color: rgb(255, 255, 255);
    }
    section.shpjhclmarker, section.shwhpclmarker
    {
        color: white;
    }
    section.defaultsection > img.iconimage
    {
        position: absolute;
        top: 50%;
	    left: 12%;
        transform: translate(-50%, -50%);
        width: 15vw;
        height: 15vw;
        display: inline-block;
        margin: auto;
    }
    section.textcontainer > h1
    {
        font-size: 4.2vw;
        margin-bottom: 1.8vw;
    }
    section.textcontainer > p
    {
        font-size: 2.7vw;
        color: inherit;
    }
    footer > p
    {
        font-size: 2vw;
    }
}