@font-face{
    font-family: "inter";
    src: url('../RESOURCES/CUSTOM-FONTS/inter.ttf')
}
@font-face {
    font-family: "computer";
    src: url('../RESOURCES/CUSTOM-FONTS/computerfont.ttf');
}

.clearborder{
    border: none !important;
}
html{
    scroll-behavior: smooth;
}
body, p {
    margin: 0;
}
main div.contents p a{
    text-decoration: none;
}
.imagery1:hover, main div.contents a, *[class*="marker"], *[class*="footerimage_"], *[class*="footerimage_"]:hover, #banner p a, #banner p a:hover, div.england, div.poland, div.england:hover, div.poland:hover, div.colora, div.colora:hover{
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}
h1.colored:hover, h1.colored, *[class*="gradient"], *[class="gradient"]:hover, nav div.buttons a div.button:hover, nav div.buttons a div.button{
    transition-duration: 0.20s;
    transition-timing-function: ease-out;
}
div.england, div.poland{
    transition-timing-function: linear;
}
a:not(a[id], #banner p a, nav div.buttons a, main div.contents p a){
    display: contents;
    text-decoration: none;
    color: #4C00FF;
}
a:visited{
    color: cadetblue;
}
a[href*="#"],  nav div.buttons a{
    color: #4C00FF;
}
a.hover:hover{
    box-shadow: 0.4vw 0.4vw 0.6vw grey;
}

nav{
    position: sticky;
    z-index: 2;
    background-color: white;
    top: 0px;
}
nav div.navcontentcontainer{
    display: flex;
    position: relative;
    height: 5vw;
    box-shadow: 0 0 0.2vw grey;
}
nav img:not(div.button:last-of-type img){
    width: 14.4791666667vw;
    position: absolute;
    left: 8vw;
}
nav div.placeholder{
    width: 22.4791666667vw;
}
nav div.buttons{
    display: flex;
    justify-content: right;
    width: 83.5208333333vw;
    height: 5vw;
}
.firstbutton{
    border-left: 1px grey dashed;
}
.shwphbutton{
    background-image: linear-gradient(to right bottom, #7c52f1, #0094ff, #00c0ff, #00e3fc, #04ffd4);
}

nav div.buttons a div.button{
    width: calc(10vw - 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 400;
    height: 5vw;
    border-right: 1px grey dashed;
}
nav div.buttons a div.button:last-of-type img{
    width: 1vw;
    height: 1vw;
}
nav div.buttons a:link{
    display: contents;
}
nav div.buttons a div.button p{
    font-family: Abel, sans-serif;
    font-size: 1.4vw;
}

header{
    display: flex;
    width: 100%;
    height: 64.9vh;
    border-bottom: 0.1vw grey dashed;
    min-height: 14vw; /*prevent the image from overflowing*/
    background: url('../RESOURCES/SHWHP_RES/uranus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
}
section.textcontainer{
    margin: auto;
    display: flex;
}
section.textcontainer img{
    width: 14vw;
    height: 14vw;
    display: block;
}
div.insertedtext{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    height: 14vw;
}
div.insertedtext h1{
    display: inline-block;
    font-family: Raleway;
    font-weight: bold;
    color: white;
    font-size: 3vw;
    margin: 1.2vw 0;
}
div.insertedtext h1:not(:first-child){
    font-weight: normal;
}
div.insertedtext h1:nth-of-type(4n + 2){
    font-family: Inconsolata;
}
div.insertedtext h1:nth-child(4n + 3){
    font-family: Yellowtail;
}
div.insertedtext h1:nth-child(4n + 4){
    text-transform: uppercase;
    font-family: "Cinzel Decorative";
}
div.insertedtext h1:nth-child(4n + 5){
    font-family: serif;
}

.mainelement{
    border-bottom: 0.1vw grey dashed;
    font-family: Raleway;
    padding: 4vw 0;
}
.mainelement h1{
    text-align: center;
    margin-top: 0vw;
    font-family: Yellowtail, cursive;
    font-size: 3.5vw;
    font-weight: lighter;
}
.mainelement div.h1container h1:not(:only-of-type){
    display: inline-block;
}
.mainelement div.h1container{
    text-align: center;
}
.mainelement div.h1container h1.colored:hover{
    color: #04FFD4;
}
.mainelement div.contents{
    display: flex;
    align-items: center;
    padding: 4vw 8vw;
}
.mainelement div.contents img{
    width: calc(17vw - 1px);
    border: 1px white solid;
    border-radius: 50vw;
    flex-shrink: 0;
}
.mainelement div.contents p{
    text-align: center;
    vertical-align: middle;
    margin-left: 4.5vw;
    font-size: 2.5vw;
}
.backgrounded{

    background-repeat: no-repeat;
}
.oldbanner{
    background-image: url('../RESOURCES/bgs/unsplash-bg2.jpg');
    background-size: cover;
    background-position-y: 20%;
}

div.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
div.flex .margin{
    margin-left: 2vw;
    margin-bottom: calc(2vw - 1px);
}

h1.favorites{
    color: white; 
    font-family: computer; 
}
h1.prog{
    color: white;
    font-family: computer;
}

div.flex .margin:nth-of-type(5n + 1){
    margin-left: 0;
}
div.flex .margin a .imagery1{
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
}
div.flex hr{
    width: 100%;
    height: 1px;
    margin: 0;
    visibility: hidden;
}

.mainelement div.h1music{
    margin-bottom: 4vw;
}
.mainelement div.h1music h1, h1.prog{
    margin: 0;
    margin-bottom: 2vw;
}
.mainelement div.h1music p, p.prog{
    font-family: computer;
    font-size: 1.5vw;
    color: white;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 4vw;
}
*[class*="marker"]{
    box-shadow: none;
}
.cllmarker:hover{
    box-shadow: 0 0 2vw #b23058;
}
.prommarker:hover{
    box-shadow: 0 0 2vw #dedff2;
}
.bijapanmarker:hover{
    box-shadow: 0 0 2vw #e75721;
}
.africamarker:hover{
    box-shadow: 0 0 2vw red;
}
.ilmbmarker:hover{
    box-shadow: 0 0 2vw blue;
}
.oarmarker:hover{
    box-shadow: 0 0 2vw brown;
}
.flomarker:hover{
    box-shadow: 0 0 2vw #b1ff00;
}
.farmarker:hover{
    box-shadow: 0 0 2vw #a51970;
}
.freaksmarker:hover{
    box-shadow: 0 0 2vw #8e8fa4;
}
.falxcemarker:hover{
    box-shadow: 0 0 2vw #d5b4ed;
}
.reidmarker:hover{
    box-shadow: 0 0 2vw #c93f9c;
}
.luekmarker:hover{
    box-shadow: 0 0 2vw #f4cfbd;
}
.whitneymarker:hover{
    box-shadow: 0 0 2vw #56b3f9;
}
.redfoomarker:hover{
    box-shadow: 0 0 2vw #00f600;
}
.modjomarker:hover{
    box-shadow: 0 0 2vw #d6c396;
}
.fleetwoodmarker:hover{
    box-shadow: 0 0 2vw #206ba0;
}
.netbanner{
    background-image: url('../RESOURCES/bgs/unsplash-bg4.jpg');
    background-size: cover;
    background-position-y: 20%;
}

img.pixelation{
    image-rendering: pixelated;
}

div.borderbox{
    position: relative;
    width: 12vw;
    height: 24.5vw;
    margin-right: 2vw;
    border-radius: 2vw;
}

*[class*="gradient"]{
    z-index: 0;
    background-size: 100% 100%;
}

div.gradientgimp{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-gimp-start.png');
}
div.gradientgimp:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-gimp-end.png');
}
div.gradientvs{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vs-start.png');
}
div.gradientvs:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vs-end.png');
}
div.gradientvsc{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vsc-start.png');
}
div.gradientvsc:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vsc-end.png');
}
div.gradientxampp{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-xampp-start.png');
}
div.gradientxampp:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-xampp-end.png');
}
div.gradientgit{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-git-start.png');
}
div.gradientgit:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-git-end.png');
}
div.gradienthtml{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-html-start.png');
}
div.gradienthtml:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-html-end.png');
}
div.gradientcss{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-css-start.png');
}
div.gradientcss:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-css-end.png');
}
div.gradientjs{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-js-start.png');
}
div.gradientjs:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-js-end.png');
}
div.gradientcpp{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-cpp-start.png');
}
div.gradientcpp:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-cpp-end.png');
}
div.gradientpython{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-python-start.png');
}
div.gradientpython:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-python-end.png');
}

.netbanner div.flex div.borderbox:nth-of-type(5n + 5){
    margin-right: 0;
}

div.softbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11.75vw;
    height: 24.25vw;
    border-radius: 2vw;
    background-color: rgb(39, 39, 39);
}
.paddingnet{
    padding: 3.125vw;
    box-sizing: border-box;
}
div.softbox img{
    display: block;
    width: 5.5vw;
    height: 5.5vw;
}
div.borderbox div.softbox hr{
    width: 100%;
    height: 0;
    border: 0.1vw solid;
    margin: 1.5625vw auto;
    visibility: visible;
}

p.carddefault{
    text-align: center;
    font-size: 1vw;
    color: white;
    font-family: Inconsolata;
    white-space: pre-line;
}

hr.gimpcard{
    border-color: #625b49 !important;
}
hr.vscard{
    border-color: #905acc !important;
}
hr.vsccard{
    border-color: #1288d2 !important;
}
hr.xamppcard{
    border-color: #fb7b1f !important;
}
hr.gitdeskcard{
    border-color: #75278b !important;
}
hr.htmlcard{
    border-color: #e54c21 !important;
}
hr.csscard{
    border-color: #1758a7 !important;
}
hr.jscard{
    border-color: #e4a125 !important;
}
hr.cppcard{
    border-color: #004283 !important;
}
hr.pythoncard{
    border-color: #4c7b91 !important;
}

.gameboybanner{
    background-image: url('../RESOURCES/bgs/unsplash-bg5.jpg');
    background-size: cover;
}
.cardrounded{
    border-radius: 0.5vw;
}

section.last{
    border-bottom: 0.2vw #e5c499 ridge;
}

footer{
    display: flex;
    width: 100%;
    min-height: 3vw;
    background-color: antiquewhite;
}
*[class*="footer"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-left: 0.1vw
}
div.footerblock{
    min-height: inherit;
}
div.footerblock:nth-of-type(1){
    justify-content: left;
}
div.footerblock:nth-of-type(2){
    justify-content: right;
}
div.footerblock:nth-of-type(2) img:not(div.discordicontransformed img){
    width: 1.75vw;
    height: 1.75vw;
    margin-right: 1.75vw;
    border-radius: 50%;
}

div.footerblock:nth-of-type(2) div.discordicon img{
    margin-right: 0;
}
div.footerblock:nth-of-type(2) div.discordicon{
    width: 1.75vw;
    height: 1.75vw;
    margin-right: 1.75vw;
}
div.footerblock:nth-of-type(2) div.discordicon p{
    display: none;
}
/*main*/
div.discordicontransformed{
    display: flex;
    justify-content: left; 
    align-items: center;
    width: initial;
    height: 1.75vw;
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-discord.png');
    background-size: 100% 100%;
    padding: 0.25vw;
    margin-right: 1.75vw;
    border-radius: 5vw;
}
div.discordicontransformed img{
    width: 1.725vw;
    height: 1.725vw;
    margin-right: 0;
    border-radius: 50%;
}
.invert{
    filter: invert(1);
}
div.footerblock:nth-of-type(2) div.discordicontransformed p{
    display: block;
    font-family: monospace;
    font-size: 0.75vw;
    color: white;
    margin: 0 0.4vw;
}
div.discordicon p{
    display: none;
}

div.footerblock:last-child{
    margin-right: 3vw;
}
div.footerblock p{
    margin: 0;
    margin-left: 6vw;
    font-family: monospace;
    font-size:  0.75vw;
}
div.footerblock p a{
    display: contents;
}
img.footerimage_github:hover{
    box-shadow: 0vw 0vw 0.6vw inset #6A329F;
}
img.footerimage_steam:hover{
    box-shadow: 0vw 0vw 0.6vw inset #14487b;
}
img.footerimage_youtube:hover{
    box-shadow: 0vw 0vw 0.6vw inset red;
}
img.footerimage_spotify:hover{
    box-shadow: 0vw 0vw 0.6vw inset #1ed860;
}
div.discordicon .colora:hover{
    box-shadow: 0vw 0vw 0.6vw inset #7289DA;
}
img.footerimage_mail:hover{
    box-shadow: 0vw 0vw 0.6vw inset #04FFD4;
}
div#dcolor{
    border-radius: 50%;
    width: 1.75vw;
    height: 1.75vw;
}
div.colorb{
    width: 1.725vw !important;
    height: 1.725vw !important;
}
#dcicon{
    cursor: pointer;
}
#fixbanner{
    position: fixed;
    width: 100%;
    height: 4vw;
    z-index: 1;
}
#banner{
    position: relative;
    box-shadow: 0 0 0.2vw grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Abel;
    font-size: 1.5vw;
    color: #4C00FF;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #b1ff00, #90ff4e, #6eff76, #4dff97, #2affb4, #00f6d8, #00ebf1, #00ddfc, #00bfff, #009bff, #006dff, #4c00ff);
}
img.close{
    position: absolute;
    top: 50%;
    right: 1.5vw;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
#banner p.polish{
    font-family: Raleway;
    font-weight: bold;
    font-size: 1.2vw;
}
#banner p a:visited{
    color: #4C00FF;
}
#banner p a:hover{
    color: #FF00B3;
}
#banner p a:active{
    color: #ff0080;
}

html[lang="pl"] .english{
    display: none !important;
}
html[lang="en"] .polish{
    display: none !important;
}
html[lang="pl"] .mainelement div.h1music p, html[lang="pl"] p.prog, html[lang="pl"] .mainelement div.h1music h1, html[lang="pl"] h1.prog{
    font-family: monospace;
}
html[lang="pl"] .mainelement div.h1music h1, html[lang="pl"] h1.prog{
    font-family: Raleway;
    font-weight: bolder;
}
#langswap{  
    border-radius: 50%;
    width: 4.75vw;
    height: 4.75vw;
    position: fixed;
    bottom: 3.75vw;
    right: 2vw;
    background-size: 100% 100%;
}
div.poland{
    background-image: url('../RESOURCES/PRIMARY/poland.png');
    box-shadow: 0 0 0.2vw grey
}
div.england{
    background-image: url('../RESOURCES/PRIMARY/england.png');
    box-shadow: 0 0 0.2vw grey
}

div.poland:hover, div.england:hover{
    cursor: pointer;
}

div.poland:hover{
    box-shadow: 0 0 1.8vw 0.25vw #dd0c39;
}
div.england:hover{
    box-shadow: 0 0 1.8vw 0.25vw #001f7e;
}

div.preload{
    position: relative;
    display: none;
}
div.preload img{
    position: absolute;
    width: 12vw;
    height: 24.5vw;
}