img.encoding{
    display: inline-block;
}
body{
    margin: 0;
    background-color: black;
}
header{
    border-bottom: 2px grey dashed;
    position: relative;
}
header section.filler{
    float: left;
    width: 6%;
    height: 3vw;
    margin-top: 1.2vw;
}
header > section.containerheader{
    float: left;
    margin-top: 1.2vw;
    text-align: center;
}
header section.containerheader img.navdestinyhead{
    width: 3vw;
    height: 3vw;
}
div.clear{
    clear: both;
}
header > section.lessercontainer{
    margin-bottom: 1vw;
}
header section.lessercontainer img.navdestinysub{
    width: 1vw;
    height: 1vw;
}
header section.filler img.logo{
    margin: 0;
    width: 3vw;
    height: 3vw;
    float: right;
}
header > img{
    position: absolute;
    top: 0px;
    right: 0px;
    width:2vw;
    height:2vw;
}