
body{
    width: 100%;
}
section{
	display: block;
}
body{
    font-family: 'Trebuchet MS', sans-serif;
	background-color: burlywood;
	margin: 0;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}
.container2{
	position: absolute;
	top: 30%;
	left: 15%;
}
nav{
	width:100%;
	padding-bottom:40px;
	text-align: center;
	border-top: 2vh ;
	border-bottom: 1px ;
	position: fixed;
	padding-top:30px;
	z-index: 1;
}
ol{
	padding: 0;
	margin: 0;
	margin-top: 0.5%;
	list-style-type: none;
	font-size:20%;
	height:35px;
	line-height:200%;
	display: inline-block;
}
ol a{
	color: rgb(167, 102, 24);
	text-decoration: none;
	display: block;
	font-size: 2vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}
ol > li{
	float:left;
	width: 10.8vw;
	height: 4vh;
	border: 1px;
    border-radius: 4vh;
    margin-left: 1vw;
	background-color: aliceblue;
	position: relative;
}
ol > li:first-of-type{
	margin-left: 0;
}
li:hover {
	background-color: beige;
	transition-duration: 0.15s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
}
.napis{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
section.dmuchawiec{
    background: url('../RESOURCES/dmuchawiec.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50vw;
	color: white;
	font-family: 'Chivo Mono';
	font-weight: bold;
	position: relative;
	padding-top:10vh;
}
h2{
	margin: 20px 0;
	font-size: 6vw;

}
section.dmuchawiec p{
	margin-top: 0px;
	font-size: 2vw;
}
footer{
	background-color: #3a3737;
	position: relative;
	height: 5vw;
	
}
.footercontainer{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #eeeeee;
	display: inline-block;
}
.footercontainer > p{
	float: left;
	margin: 0;
	font-size: 1vw;
	font-weight: bold;
	border-left: 1px dashed rgb(190, 186, 186);
}
.footercontainer > p:first-of-type{
	float: left;
	border: 0;
}
footer::after{
	clear: both;
}
section.defaultthread{
	font-family: 'Chivo Mono';
	font-size: 1.5vw;
	background: white;
	border-bottom: 1px gray dashed;
	padding-top: 4%;
	padding-bottom: 4%;
	position: relative;
}
.center{
	margin: 0;
	position: absolute;
	top: 57%;
	left: 20%;
	transform: translate(-50%, -50%);
}
img.responsiveimage{
	width: 20vw;
	height: 20vw;
}
section.defaultthread > p{
	padding-left: 40%;
	padding-right: 10%;
	margin-bottom: 1vh;
	display: inline-block;
}
section.parted1right::after{
	clear: both;
}
h1{
	text-align: center;
	margin: 12px;
	font-weight: bold;
	margin-bottom: 3%;
}
