
/*WINDOW GRADIENT CODE*/
/*background-image: linear-gradient(to right bottom, #93b1ff, #89aaff, #80a3ff, #769cff, #6c95ff, #6c8efe, #6c87fd, #6e80fc, #7b77f9, #886df4, #9562ee, #a155e7);*/
a{
    text-decoration: none;
    color: unset;
}

.pos-fxd{
    position: fixed;
}
.nonstandard-draft{
    max-width: 15vw;
    bottom: 1.7vw;
    right: 1.7vw;
    z-index: 1;
}
.nonstandard-draft-head{
    font-size: 1.7vw;
    display: inline-block;
    font-family: Belanosima;
    margin: 0 0 1.2vw 0;
}
.nonstandard-draft-data{
    font-family: Belanosima;
    font-size: 1vw;
    white-space: pre-line;
    color: #0d8569;
    filter: drop-shadow(0.1vw 0.1vw 0.2vw black);
}
.grd-draft1{
    background-image: linear-gradient(to right bottom, #f269e0, #ff5d9a, #ff864b, #ffbd00, #a8eb12);
    filter: drop-shadow(0vw 0vw 0.1vw #ff864b);
}
.grd-draft2{
    background-image: linear-gradient(to right bottom, #8f00ff, #007aff, #0091ef, #009994, #009950);
    filter: drop-shadow(0vw 0vw 0.1vw #0091ef);
}

.w-100p{
    width: 100%;
}
.w-97p{
    width: 97%;
}
.w-14p75{
    width: 14.75vw;
}
.w-9p5{
    width: 182.4px;
}
.h-100p{
    height: 100%;
}
.header{
    background-image: url('../RESOURCES/SHWHP_RES/nebula_poster.png');
    height: 100vh;
}
.fx{
    display: flex;
}
.fx-jc-spb{
    justify-content: space-between;
}
.fx-ai-c{
    align-items: center;
}
.fx-jc-c{
    justify-content: center;
}
.fx-dir-c{
    flex-direction: column;
}
.mg-none{
    margin: 0;
}
#headertext{
    width: 0vw;
    overflow: hidden;
}
.headertexttransformed{
    width: 48.5709375vw !important;
    transition: all 0.5s ease-in;
}  
.b-sh-def{
    box-shadow: 0vw 0vw 0.3vw grey;
}
.bgs-full{
    background-size: 100% 100%;
}
.headerimage{
    width: 12vw;
    margin-right: 3.25vw;
    image-rendering: pixelated;
}
.headergradienttext{
    white-space: nowrap;
    font-size: 3vw;
}
.ff-raleway{
    font-family: Raleway;
}
.grd-firsth1{
    background-image: linear-gradient(to right bottom, #000000, #202020, #3a3a3a, #565656, #747474);
    filter: drop-shadow(0.1vw 0.1vw 0.01vw #3a3a3a);
}
.grd-sech1{
    background-image: linear-gradient(to right bottom, #00e377, #00e395, #00e2af, #00e1c3, #00ded3);
    filter: drop-shadow(0.1vw 0.1vw 0.01vw #00e377);
}
.gradient-text{
    background-clip: text;

    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;

    -webkit-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.fc-violet{
    color: blueviolet;
}
.nav{
    background-color: white;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10vw;
    z-index: 1;
}
.dp-none{
    display: none;
}
.wh-animelem-1{
    width: 1.5vw;
    height: 1.5vw;
}
.wh-animelem-1-addr-1{
    top: -2vw;
    left: -2vw;
}
.wh-animelem-1-addr-2{
    bottom: -2vw;
    right: -2vw;
    transform: rotate(180deg);
}
.headercontainer{
    margin: 3.25vw;
}

.fsz-1{
    font-size: 1vw;
}

@keyframes anim1{
    0%{
        opacity: 0;
    }
    33.3%{
        opacity: 1;
    }
    66.6%{
        opacity: 0;
    }
    99.9%{
        opacity: 1;
    }
}

.abm-section{
    height: 74vh;
    padding: 10vh 0;
}
.bs-bb{
    box-sizing: border-box;
}

.anim-1{
    animation: anim1 0.25s ease-in-out;
}
.nest-subsection{
    width: 80vw;
    max-width: 1250px;
}
.general-subsection{
    max-height: calc(70vh - 80px);
}
.add-text-subsection{
    font-family: Belanosima;
}
.t-ss-heading{
    font-size: 48px;
    margin-bottom: 32px;
}
.t-ss-paragraph{
    font-size: 34px;
    filter: drop-shadow(0.2vw 0.2vw 0.1vw #a6a6a6);
}
.t-ss-paragraph-modabm{
    width: 671.438px;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.anim-blink{
    animation: blink 1.25s infinite;
}
.pfp{
    height: 340px;
    width: auto;
    border-radius: 20px;
    margin-left: 70px;
}
@keyframes fadeInTR{
    from{
        transform: translateX(-75px);
    }
    to{
        opacity: 1;
    }
}
.anim-fadeintr{
    animation: fadeInTR 0.75s ease-out forwards;
}
.scroll-alternative{
    overflow-y: scroll;
}
.scroll-alternative::-webkit-scrollbar{
    display: none;
}
.op-0{
    opacity: 0;
}
.border{
    height: 40px;
    background: url('../RESOURCES/SHWHP_RES/greeceborder.png'), white;
}
.bgs-contain{
    background-size: contain;
}
.abm-bgp{
    background: url('../RESOURCES/SHWHP_RES/bg-content/bg-master.png'), white;
    background-size: auto 100%;
    background-position: bottom left;
}
.bgr-no-r{
    background-repeat: no-repeat;
}
.longsec-child-preset{
    min-height: 65vh;
}
.longsec-child-preset-2{
    min-height: 84vh;
}
.c-white{
    color: white;
}
.general-heading{
    font-size: 54px;
}
.add-lang-paragraph{
    text-align: left;
    font-size: 24px;
}
@keyframes fadeInTB{
    from{
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
    }
}
.anim-fadeintb{
    animation: fadeInTB 0.75s cubic-bezier(.2,1,1,1) forwards;
}
.bg-long{
    background-image: url('../RESOURCES/bgs/bg14.jpg');
}
.longer-subsection{
    max-height: 100%;
}
.lang-pick{
    width: 225px;
    height: 225px;
    padding:20px;
    flex-wrap: wrap;
}
.lang-pick-opt{
    width: 94px;
    height: 94px;
    margin: 9.25px;
    border-radius: 12px;
    flex-shrink: 0;
}
.cpp{
    background-image: radial-gradient(circle, #5ffbf1, #64fcec, #69fde7, #6ffde1, #76fedc, #83fed7, #8fffd3, #9affcf, #abffcd, #baffcc, #c7ffcc, #d3ffce);
}
.cpp::before{
    content: '';
    width: 71.27659574468085%;
    height: 6px;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-in;
}
.lang-pick:hover .cpp::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.1s ease-out;
}
.cpp::after{
    content: '';
    width: 6px;
    height: 71.27659574468085%;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-in;
}
.lang-pick:hover .cpp::after{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.1s ease-out;
}
.html{
    background-image: radial-gradient(circle, #e28ef6, #d884f4, #ce7af2, #c470f0, #b867ef, #af66ef, #a564f0, #9b63f0, #9168f2, #876df4, #7d72f5, #7376f5);
}
.html::before{
    content: '';
    width: 71.27659574468085%;
    height: 6px;
    transform: scaleX(0);
    transform-origin: right;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-in;
}
.lang-pick:hover .html::before{
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.1s ease-out;
}
.html::after{
    content: '';
    width: 6px;
    height: 71.27659574468085%;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-in;
}
.lang-pick:hover .html::after{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.1s ease-out;
}
.css{
    background-image: radial-gradient(circle, #5ffbf1, #46eefa, #41dfff, #52cffe, #69bff8, #79b3f4, #8aa7ec, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);
}
.css::before{
    content: '';
    width: 71.27659574468085%;
    height: 6px;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    bottom: -20px;
    left: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-in;
}
.lang-pick:hover .css::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.1s ease-out;
}
.css::after{
    content: '';
    width: 6px;
    height: 71.27659574468085%;
    transform: scaleY(0);
    transform-origin: bottom;
    position: absolute;
    bottom: -20px;
    left: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-in;
}
.lang-pick:hover .css::after{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.1s ease-out;
}
.js{
    background-image: radial-gradient(circle, #b1ff00, #90ff4e, #6eff76, #4dff97, #2affb4, #4bf6a6, #5eee98, #6ce58c, #8fcf5b, #a9b72f, #be9c05, #ce7e00);
}
.js::before{
    content: '';
    width: 71.27659574468085%;
    height: 6px;
    transform: scaleX(0);
    transform-origin: right;
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-out;
}
.lang-pick:hover .js::before{
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.1s ease-out;
}
.js::after{
    content: '';
    width: 6px;
    height: 71.27659574468085%;
    transform: scaleY(0);
    transform-origin: bottom;
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: #08fcbc;
    transition: transform 0.1s ease-out;
}
.lang-pick:hover .js::after{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.1s ease-out;
}
.cur-sel{
    cursor: pointer;
}
.whp-icon{
    width: 74%;
    height: 74%;
    transition: all 0.15s;
}
.whp-icon:hover{
    width: 80%;
    height: 80%;
    transition: all 0.15s;
}
.pos-abs{
    position: absolute;
}
.p-ab-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pos-rel{
    position: relative;
}
.animSwitchByFadeInLang{
    animation: switchByFadeIn-lang 1s forwards;
}
@keyframes switchByFadeIn-lang{
    50%{
        transform: translateX(100px);
        opacity: 0;
    }
    50.001%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.dp-inline{
    display: inline;
}
.lang-icon-onclick{
    width: 80% !important;
    height: 80% !important;
}
.icon-holder{
    background-image: linear-gradient(to right bottom, #ffffff, #eef9ff, #c5f9ff, #8efbff, #5ffbf1);
    width: 100px;
    height: 100px;
    transform: scaleY(0);
    border-radius: 10px;
    box-shadow: 1px 1px 7px cyan;
}
.icon-image{
    width: 75%;
    height: 75%;
    transform: scale(0.87);
    opacity: 0;
    mix-blend-mode: luminosity;
}
.bar-container-margin{
    margin-bottom: 20px;
}
.brad-3px{
    border-radius: 3px;
}
.bar{
    width: 66px;
    height: 30px;
}
.bar-red{
    background-image: linear-gradient(to right bottom, #ff0000, #ff4c00, #ff6f00, #ff8b00, #ffa500);
    filter: drop-shadow(10px 6px #B24D00);
}
.bar-yellow{
    background-image: linear-gradient(to right bottom, #ffa500, #ffbb00, #ffd100, #ffe800, #ffff00);
    filter: drop-shadow(10px 6px #B29200);
}
.bar-lgreen{
    background-image: linear-gradient(to right bottom, #ffff00, #edff00, #daff00, #c6ff00, #b1ff00);
    filter: drop-shadow(10px 6px #98B200);
}
.bar-green{
    background-image: linear-gradient(to left top, #b1ff00, #86ff5c, #5aff8c, #2affb4, #04ffd4);
    filter: drop-shadow(10px 6px #369954);
}
.bar-blue{
    background-image: linear-gradient(to right bottom, #04ffd4, #00e4fa, #00c2ff, #0097ff, #5a5aff);
    filter: drop-shadow(10px 6px #007BB2);
}  
.bar-empty{
    background-image: linear-gradient(to right bottom, #45818e, #397481, #2d6775, #215b68, #134f5c);
    filter: drop-shadow(10px 6px #122B30);
}
.mg-l-100px{
    margin-left: 70px;
}
.mg-l-20px{
    margin-left: 20px;
}
.icon-image-transformations{
    opacity: 0.85;
    transform: scale(1);
    transition: all 0.2s ease-out;
    border-radius: 5px;
}
.mg-b-30px{
    margin-bottom: 30px;
}
.mg-b-60px{
    margin-bottom: 60px;
}
.add-lang-paragraph2{
    text-align: center;
}
@keyframes fadeInTR2{
    from{
        transform: scaleX(0) skewX(-45deg);
        transform-origin: left center;
    }
    to{
        transform: scaleX(1) skewX(-45deg);
        transform-origin: left center;
        opacity: 1;
    }
}
.anim-fadeintr2{
    animation: fadeInTR2 0.125s ease-out forwards;
}

/*ENGI*/
.engi-placeholder-wip{
    z-index: 5;
    width: 50px;
    height: auto;
}
.engi-pos-draft{
    bottom: 1.5vw;
    right: 8.7vw;
}
.engi-pos-nav{
    top: 1vw;
    left: 12vw;
}
@keyframes fadeInMod{
    from{
        transform: rotate(45deg);
    } 
    to{
        transform: rotate(45deg);
        opacity: 1;
    }
}
.anim-fadeinmod{
    animation: fadeInMod 0.75s ease-out forwards;
}
.video-header{
    object-fit: cover;
}
.loadingicon-header{
    bottom: 2vw;
    left: 2vw;
    width: 95px;
    height: 95px;
    z-index: 1;
}
.holder-transformations{
    transform: scaleY(1);
    transition: all 0.15s;
}
.menu-opt{
    font-family: 'PT Sans';
    font-weight: 600;
    font-size: 19px;
}
@keyframes fadeInRainbow{
    from{
        filter: hue-rotate(0deg) blur(20px);
    }
    to{
        filter: hue-rotate(365deg);
        opacity: 1;
    }
}
.anim-fadeinrainbow{
    animation: fadeInRainbow 0.5s ease-out forwards;
}
.footer{
    background-color: grey;
}
.true-footer{
    height: 100px;
    border-top: #4e4e4e 2px solid;
    background-image: url('../RESOURCES/SHWHP_RES/footer-bg.png');
    box-shadow: 0px 0px 30px 30px inset grey;
    filter: grayscale(100%) brightness(90%);
}
.footer-text{
    font-size: 20px;
    filter: drop-shadow(3px 3px 3px #424242);
}
.socials-section{
    height: 75vh;
    background: url('../RESOURCES/SHWHP_RES/bg2-content/engimedic-compressed.png') no-repeat, #251e47;
    background-size: contain, 100% 100%;
}
.rotate-45deg{
    transform: rotate(45deg);
}
.rhombusicon-border{
    width: 135px;
    height: 135px;
}
.rico-bd-discord{
    background-image: linear-gradient(to right bottom, #7c9ff7, #6581c9, #4e649c, #394972, #252f4a);
}
.rico-bd-github{
    background-image: linear-gradient(to left top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
}
.rico-bd-steam{
    background-image: linear-gradient(to right bottom, #061938, #0e2f55, #144872, #166291, #137eaf);
}
.rico-bd-mail{
    background-image: linear-gradient(to right bottom, #1de9b6, #00d4e4, #00b8ff, #0092ff, #7c54f4);
}
.mg-40px{
    margin: 40px;
}
.rhombusicon-filling{
    background-color: #251e47;
    height: 110px;
    width: 110px;
}
.rhombusicon{
    width: 50%;
    height: auto;
    transform: rotate(-45deg);
}
.engivoice{
    left: 147px;
    bottom: 9vh;
    width: 200px;
    height: 220px;
}