@font-face {
    font-family: "computer";
    src: url('../RESOURCES/CUSTOM-FONTS/computerfont.ttf');
}
@keyframes box{
    100%{
    }
}
@keyframes rainbow{
    12.5%
    {
        color: #FF0000;
    }
    25%
    {
        color: #FF7F00;
    }
    37.5%
    {
        color: #FFFF00;
    }
    50%
    {
        color: #00FF00;
    }
    62.5%
    {
        color: #0000FF;
    }
    75%
    {
        color: #4B0082;
    }
    87.5%
    {
        color: #9400D3;
    }
    100%{
        color: white;
    }
}
@keyframes hue{
    0%{
        filter: hue-rotate(360deg)
    }
}
:visited{
    color: #4C00FF;
}
.rainbow:hover{
    animation: hue 1.25s linear infinite;
}
.clearborder{
    border: none !important;
}
.standardmargin{
    margin-bottom: 2vw !important;
}
.bd-clear{
    border: none;
}
.mnsp{
    font-family: monospace;
}
.fs3vw{
    font-size: 3vw;
}
html{
    scroll-behavior: smooth;
}


.nohorizontalmargin{
    margin-top: 0;
    margin-bottom: 0;
}
.dec-none{
    text-decoration: none;
}
.imagery1:hover, .transition-standard, *[class*="marker"], *[class*="footerimage_"], *[class*="footerimage_"]:hover, .banner p a:hover, div.england, div.poland, div.england:hover, div.poland:hover, div.colora, div.colora:hover{
    transition: all 0.20s ease-out;
}
.footerimage_discord, .footerimage_discord_inv{
    transition-property: box-shadow;
}
h1.colored:hover, h1.colored, *[class*="gradient"], *[class="gradient"]:hover, nav div.buttons a div.button:hover, nav div.buttons a div.button{
    transition: all 0.15s ease-out;
}
div.england, div.poland{
    transition-timing-function: linear;
}
a.clear{
    display: contents;
}
.avis-green:visited{
    color: cadetblue;
}
.ac-def{
    color: #4C00FF;
}
a.hover:hover{
    box-shadow: 0.4vw 0.4vw 0.6vw grey;
}

nav{
    position: sticky;
    z-index: 3;
    background-color: white;
    top: 0px;
}
.h-5{
    height: 5vw;
}
img.logobanner{
    width: 14.4791666667vw;
    margin-left: 8vw;
}
div.buttons{
    width: 83.5208333333vw;
}
.firstbutton{
    border-left: 1px grey dashed;
}
.shwphbutton{
    background-image: linear-gradient(to right bottom, #7c52f1, #0094ff, #00c0ff, #00e3fc, #04ffd4);
}

div.button{
    width: calc(10vw - 1px);
    border-right: 1px grey dashed;
}
img.redirect{
    width: 1vw;
    height: 1vw;
}
.fsize-button{
    font-size: 1.4vw;
}
.w-100per-cent{
    width: 100%;
}
.bdr-def{
    border-bottom: 0.1vw grey dashed;
}
header{
    height: 64.9vh;
    min-height: 14vw; /*prevent the image from overflowing*/
    background: url('../RESOURCES/SHWHP_RES/uranus.jpg');
}
.textcontainer{
    margin: auto;
}
.h-14{
    height: 14vw;
}
img.headerlogo{
    width: 14vw;
}
.ml-2{
    margin-left: 2vw;
}
.bold{
    font-weight: bold;
}
.lighter{
    font-weight: lighter;
}
.ralewayfont{
    font-family: Raleway;
}
.white{
    color: white;
}
.fwnormal{
    font-weight: normal;
}
.inconsolata{
    font-family: Inconsolata;
}
.cinzel{
    font-family: "Cinzel Decorative";
}
.mainelement{
    padding: 4vw 0;
}
.mainheading{
    font-size: 3.5vw;
}
.nomargin{
    margin: 0;
}
.yellowtail{
    font-family: Yellowtail, cursive;
}
.d-inl-bl{
    display: inline-block;
}
.tcenter{
    text-align: center;
}
h1.colored:hover{
    color: #04FFD4;
}
.nowrap{
    flex-wrap: nowrap !important;
}
div.contents{
    padding: 4vw 8vw;
}
img.mainimage{
    min-width: calc(17vw - 1px);
    border: 1px white solid;
    border-radius: 50vw;
}
p.maintext{
    vertical-align: middle;
    margin-left: 4.5vw;
    font-size: 2.5vw;
}
.oldbanner{
    background-image: url('../RESOURCES/bgs/unsplash-bg2.jpg');
}
.positionedandcover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
}

.flex{
    display: flex;
}
.fx-wrap{
    flex-wrap: wrap;
}
.fx-ai-c{
    align-items: center;
}
.full{
    justify-content: center;
}
.margin{
    margin-bottom: calc(2vw - 1px);
}

.computerfont{
    font-family: computer; 
}
.brad-5{
    border-radius: 5vw;
}
.imagery1{
    width: 10vw;
    height: 10vw;
}
hr{
    height: 1px;
    visibility: hidden;
}
.mb4{
    margin-bottom: 4vw;
}
.m-w-40per-cent{
    max-width: 40%;
}
.mauto{
    margin-left: auto;
    margin-right: auto;
}
*[class*="marker"]{
    box-shadow: none;
}
.cllmarker:hover{
    box-shadow: 0 0 2vw #b23058;
}
.prommarker:hover{
    box-shadow: 0 0 2vw #dedff2;
}
.bijapanmarker:hover{
    box-shadow: 0 0 2vw #e75721;
}
.africamarker:hover{
    box-shadow: 0 0 2vw red;
}
.ilmbmarker:hover{
    box-shadow: 0 0 2vw blue;
}
.oarmarker:hover{
    box-shadow: 0 0 2vw brown;
}
.flomarker:hover{
    box-shadow: 0 0 2vw #b1ff00;
}
.farmarker:hover{
    box-shadow: 0 0 2vw #a51970;
}
.freaksmarker:hover{
    box-shadow: 0 0 2vw #8e8fa4;
}
.falxcemarker:hover{
    box-shadow: 0 0 2vw #d5b4ed;
}
.reidmarker:hover{
    box-shadow: 0 0 2vw #c93f9c;
}
.luekmarker:hover{
    box-shadow: 0 0 2vw #f4cfbd;
}
.whitneymarker:hover{
    box-shadow: 0 0 2vw #56b3f9;
}
.redfoomarker:hover{
    box-shadow: 0 0 2vw #00f600;
}
.modjomarker:hover{
    box-shadow: 0 0 2vw #d6c396;
}
.fleetwoodmarker:hover{
    box-shadow: 0 0 2vw #206ba0;
}
.netbanner{
    background-image: url('../RESOURCES/bgs/unsplash-bg4.jpg');
}

img.pixelation{
    image-rendering: pixelated;
}

.posrel{
    position: relative;
}
div.borderbox{
    width: 12vw;
    height: 24.5vw;
    margin-right: 2vw;
}
.brad-2{
    border-radius: 2vw;
}

div.gradientgimp{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-gimp-start.png');
}
div.gradientgimp:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-gimp-end.png');
}
div.gradientvs{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vs-start.png');
}
div.gradientvs:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vs-end.png');
}
div.gradientvsc{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vsc-start.png');
}
div.gradientvsc:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-vsc-end.png');
}
div.gradientxampp{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-xampp-start.png');
}
div.gradientxampp:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-xampp-end.png');
}
div.gradientgit{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-git-start.png');
}
div.gradientgit:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-git-end.png');
}
div.gradienthtml{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-html-start.png');
}
div.gradienthtml:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-html-end.png');
}
div.gradientcss{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-css-start.png');
}
div.gradientcss:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-css-end.png');
}
div.gradientjs{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-js-start.png');
}
div.gradientjs:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-js-end.png');
}
div.gradientcpp{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-cpp-start.png');
}
div.gradientcpp:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-cpp-end.png');
}
div.gradientpython{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-python-start.png');
}
div.gradientpython:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-python-end.png');
}
.gradientut{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-undertale-start.png');
}
.gradientut:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-undertale-end.png');
}
.gradientasgore{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-asgore-start.png');
}
.gradientasgore:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-asgore-end.png');
}
.gradientppig{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-pixelpig-start.png');
}
.gradientppig:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-pixelpig-end.png');
}
.gradientttoacw{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-ttoacw-start.png');
}
.gradientttoacw:hover{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-ttoacw-end.png');
}
.pos-abs{
    position: absolute;
}
.pos-prop-top-50per-cent{
    top: 50%;
}
.softbox{
    left: 50%;
    transform: translate(-50%, -50%);
}
.pos-prop-sbox{
    width: 11.75vw;
    height: 24.25vw;
}
.bgc-sbox{
    background-color: #272727;
}
.paddingnet{
    padding: 3.125vw;
}
.bs-bbox{   
    box-sizing: border-box;
}
.sbox-img{
    width: 5.5vw;
    height: 5.5vw;
}
div.borderbox div.softbox hr{
    height: 0;
    border: 0.1vw solid;
    margin: 1.5625vw auto;
    visibility: visible;
}
.ws-pl{ 
    white-space: pre-line;
}
.fsize-1{
    font-size: 1vw;
}

hr.gimpcard{
    border-color: #625b49 !important;
}
hr.vscard{
    border-color: #905acc !important;
}
hr.vsccard{
    border-color: #1288d2 !important;
}
hr.xamppcard{
    border-color: #fb7b1f !important;
}
hr.gitdeskcard{
    border-color: #75278b !important;
}
hr.htmlcard{
    border-color: #e54c21 !important;
}
hr.csscard{
    border-color: #1758a7 !important;
}
hr.jscard{
    border-color: #e4a125 !important;
}
hr.cppcard{
    border-color: #004283 !important;
}
hr.pythoncard{
    border-color: #4c7b91 !important;
}

.gameboybanner{
    background-image: url('../RESOURCES/bgs/unsplash-bg5.jpg');
}
.cardrounded{
    border-radius: 0.5vw;
}

footer{
    height: 3vw;
    background-color: antiquewhite;
    border-top: 0.2vw #e5c499 ridge;
}
div.footerblock{
    width: 50%;
}
.fx-jc-l{
    justify-content: left;
}
.fx-jc-r{
    justify-content: right;
}
.borderrad{
    border-radius: 50%;
}
.footericon{
    width: 1.75vw;
}
.mr-1p75{
    margin-right: 1.75vw;
}
.h-1p75{
    height: 1.75vw;
}
/*main*/
div.discordicontransformed{
    background-image: url('../RESOURCES/SHWHP_RES/gradients/gradient-discord.png');
    padding: 0.25vw;
}
.transimage{
    width: 1.5vw;
    height: 1.5vw;
}
.invert{
    filter: invert(1);
}
.mvert{
    margin: 0 0.4vw;
}
.mr-3{
    margin-right: 3vw;
}
.footertext-margin{
    margin: 0 0 0 6vw;
}
.fsize-footer{
    font-size:  0.75vw;
}

img.footerimage_github:hover{
    box-shadow: 0vw 0vw 0.6vw inset #6A329F;
}
img.footerimage_steam:hover{
    box-shadow: 0vw 0vw 0.6vw inset #14487b;
}
img.footerimage_youtube:hover{
    box-shadow: 0vw 0vw 0.6vw inset red;
}
img.footerimage_spotify:hover{
    box-shadow: 0vw 0vw 0.6vw inset #1ed860;
}
.footerimage_discord:hover{
    box-shadow: 0vw 0vw 0.6vw inset #7289DA;
}
.footerimage_discord_inv:hover{
    box-shadow: 0vw 0vw 0.6vw inset #DAC372;
}
img.footerimage_mail:hover{
    box-shadow: 0vw 0vw 0.6vw inset #04FFD4;
}
.c-pointer{
    cursor: pointer;
}
.bannercontainer{
    min-height: 4vw;
}
.banner-subsequent-2nd{
    top: 9vw;
}
.z-2{
    z-index: 2;
}
.z-1{
    z-index: 1;
}
.abel{
    font-family: Abel;
}
.defaultshadow{
    box-shadow: 0 0 0.2vw grey;
}
.fsize-1p5{
    font-size: 1.5vw;
}
.bg-newarrivals{
    background-image: linear-gradient(to left, #b1ff00, #90ff4e, #6eff76, #4dff97, #2affb4, #00f6d8, #00ebf1, #00ddfc, #00bfff, #009bff, #006dff, #4c00ff);
}
.bg-altsunset{
    background-image: linear-gradient(to right bottom, #ff0707, #ff0039, #ff005b, #fb007b, #eb1297);
}
img.close{
    right: 1.5vw;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
}
.fsize-banner{
    font-size: 1.2vw;
}
.ac-pink:hover{
    color: #FF00B3;
}
.ac-pink:active{
    color: #ff0080;
}
.c-turquoise{
    color: #00FFA4;
}
.ac-turquoise{
    color: #00CB75;
}
.ac-turquoise:hover{
    color: #00ffd3;
}
.ac-turquoise:active{
    color: #9cffed;
}

html[lang="pl"] .english{
    display: none !important;
}
html[lang="en"] .polish{
    display: none !important;
}
.fixed{
    position: fixed;
}
.bgfull{
    background-size: 100% 100%;
}
#langswap{  
    width: 4.75vw;
    height: 4.75vw;
    bottom: 3.75vw;
    right: 2vw;
}
.poland{
    background-image: url('../RESOURCES/PRIMARY/poland.png');
}
.england{
    background-image: url('../RESOURCES/PRIMARY/england.png');
}

div.poland:hover{
    box-shadow: 0 0 1.8vw 0.25vw #dd0c39;
}
div.england:hover{
    box-shadow: 0 0 1.8vw 0.25vw #001f7e;
}

.preload{
    display: none;
}

.moonbanner{
    background-image: url('../RESOURCES/bgs/unsplash-bg6.jpg');
}
.h-7{
    height: 8vw;
}
.h-7p5{
    height: 7.625vw;
}
.w-60{
    width: 60vw;
}
.w-50{
    width: 50vw;
}
.w-40{
    width: 40vw;
}
.w-30{
    width: 30vw;
}
.w-20{
    width: 20vw;
}
.mtop-1{
    width: 59.625vw;
}
.mtop-2{
    width: 49.625vw;
}
.mtop-3{
    width: 39.625vw;
}
.mtop-4{
    width: 29.625vw;
}
.mtop-5{
    width: 19.625vw;
}
.dmspack-imagemus{
    width: 5.625vw;
    height: 5.625vw;
}
.fx-dir-col{
    flex-direction: column;
}
.fsize-0p8{
    font-size: 0.8vw;
}
.fsize-1p25{
    font-size: 1.25vw;
}
.fx-jc-c{
    justify-content: center;
}
.pd-2{
    padding: 1vw;
}
.m-b-0p5{
    margin-bottom: 0.5vw;
}
.m-w-40{
    max-width: 40vw;
}