body{
	background: url('../RESOURCES/bgs/potential-bg2.jpg') no-repeat;
	background-size: 100% 100%;
    margin: 0;
}

section.defaultsection{
    position: relative;
	margin: 5% 30%;
	width: calc(40vw - 1px);
	border: white 1px solid;
	border-radius: 20vh;
	background-color: white;
    padding: 3vw;
}
section.defaultsection:first-of-type{
    margin-top: 10%;
}
section.textcontainer{
    font-family: Raleway;
    display: block;
    position: absolute;
    margin-top: 0;
    margin-left: 2vw;
}
section.textcontainer > h1{
    font-weight: bold;
    margin: 0;
    font-size: 2vw;
    margin-bottom: 0.8vw;
    margin-right: 3vw;
}
section.textcontainer > p{
    margin: 0;
    margin-right: 3vw;
    font-size: 1vw;
    white-space: pre-line;
}
section.defaultsection *{
    display: inline-block;
}

img.iconimage{
    width: 10vw;
    height: 10vw;
}

header img{
    margin: auto;
    display: block;
    text-align: center;
    width: 12vw;
    height: auto;
    max-width: 20vh;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px white solid;
    background-color: white;
}

footer{
    padding: 2vh 2vw;
    background-color: #dddddd;
    width: 100%;
    box-sizing: border-box;
}
footer > p{
    text-align: center;
    margin: 0;
    font-family: Raleway;
    font-size: 1vw;
}
