/*DEFAULT SIZE UNIT: VW*/

/*Size properties*/
    /*Widths*/
        .w-def{
            width: 100%;
        }
        .w-70{
            width: 70vw;
        }
        .w-40{
            width: 40vw;
        }
    /*!Widths*/
    /*Heights*/
        .h-40{
            height: 40vw;
        }
        .h-20{
            height: 20vw;
        }
    /*!Heights*/
/*[END] Size properties*/

/*Alignment properties*/
    /*Flex*/
    .fx{
        display: flex;
    }
    .fx-full{
        align-items: center;
    }
    .fx-jst-c{
        justify-content: center;
    }
    .fxd-c{
        flex-direction: column;
    } 
    /*!Flex*/
    /*Positions*/
        .pos-rel{
            position: relative;
        }
    /*!Positions*/
    /*Aligns*/

    /*!Aligns*/
    /*Misc displays*/
    .dp-n{
        display: none;
    }
    /*!Misc displays*/
/*[END] Alignment properties*/

/*Boundary properties*/
    /*Margins*/
        .mg-none{
            margin: 0;
        }
        .mg-l3{
            margin-left: 3vw;
        }
        .mg-b3{
            margin-bottom: 3vw;
        }
        .mg-b4{
            margin-bottom: 4vw;
        }
        .mg-b1p5{
            margin-bottom: 1.5vw;
        }
    /*!Margins*/
    /*Paddings*/

    /*!Paddings*/
    /*Borders*/

    /*!Borders*/
    /*Border radiuses*/
        .brad-small{
            border-radius: 3vw;
        }
    /*!Border radiuses*/
    /*Shadows*/
        .sh-def{
            box-shadow: 0vw 0vh 1vw 0.2vw #383737
        }
    /*!Shadows*/
    /*Box sizing*/
        .mgp-contain{
            box-sizing: border-box;
        }
    /*Box sizing*/
    /*Z-indexes*/
        .z-u1{
            z-index: 1;
        }
        .z-u2{
            z-index: 2;
        }
    /*!Z-indexes*/
/*[END] Boundary properties*/

/*Font properties*/
    /*Fonts*/

    /*!Fonts*/
    /*Sizes*/
        .fsize-2p5{
            font-size: 2.5vw;
        }
        .fsize-1p3{
            font-size: 1.3vw;
        }
    /*!Sizes*/
    /*Colors*/
        .fc-white{
            color: white;
        }
        .fc-black{
            color: black;
        }
    /*!Colors*/
    /*Weights*/
        .fw-bolder{
            font-weight: bolder;
        }
        .fw-lighter{
            font-weight: bolder;
        }
    /*!Weights*/
/*[END] Font properties*/

/*Anchor properties*/
    /*Clear colors*/
    /*!Clear colors*/

    /*:Visited colors*/
    /*!:Visited colors*/

    /*:Active colors*/
    /*!:Active colors*/

    /*Text-decoration presets*/

    /*!:Text-decoration presets*/
/*[END] Anchor properties*/

/*Background properties*/
    /*Backgrounds*/
    .bg-white{
        background-color: white;
    }
    .pointbg1{
        background-image: radial-gradient(circle, #12ebbb, #00cde5, #00a9ff, #007aff, #1600ff);
    }
    .pointbg2{
        background-image: radial-gradient(circle, #e9ff00, #ffcb00, #ff9500, #ff5d25, #eb1242);
    }
    .pointbg3{
        background-image: radial-gradient(circle, #ffd3d3, #ffadbf, #ff83bb, #ff53c6, #ff00de);
    }
    .pointbg4{
        background-image: radial-gradient(circle, #c68f14, #c3a900, #b3c500, #91e200, #43ff00);
    }
    .pointbg5{
        background-image: radial-gradient(circle, #00e9ff, #00d8a6, #75bb2c, #c28a00, #ff0000);
    }
    .pointbg6{
        background-image: radial-gradient(circle, #b100ff, #0082ff, #00b1ff, #00d1ff, #97e8f0);
    }
    /*!Backgrounds*/
    /*Background sizes*/
    .bgs-full{
        background-size: 100% 100%;
    }
    /*Background-sizes*/
    /*Alignment presets*/

    /*!Alignment presets*/
/*[END] Background properties*/

/*Transition properties*/
    /*Transition presets*/
    .transition-eo15{
        transition: all 0.15s ease-in;
    }
    .transition-eo15:hover{
        transition: all 0.15s ease-out;
    }
    /*!Transition presets*/
    /*Transform presets*/
    .pointtransform:hover{
        transform: scale(1.3, 1.3);
        z-index: 1;
    }
    /*!Transform presets*/
    /*Animation presets*/

    /*!Animation presets*/
    /*Keyframes*/

    /*!Keyframes*/
/*[END] Transition properties*/

/*Misc*/
    .c-pointer{
        cursor: pointer;
    }
/*[END MISC*/

/*Individual classes (groups of properties used once due to having no use elsewhere)*/
        /*map*/
        .maplegend{
            justify-content: left;
        }
        .polflag-white{
            position: absolute;
            top: 0;
            left: 0;
        }
        .maplegend:hover .polflag-white{
            box-shadow: 0vw 0vw 3vw 0.2vw white;
            transition: all 0.15s ease-out;
        }
        .maplegend:hover .polflag-red{
            box-shadow: 0vw 0vw 3vw 0.2vw red;
            transition: all 0.15s ease-out;
        }
        .polflag-red{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .mapimage{
            background-image: url('../../RESOURCES/WLOKIETEK/SUBSITES/map.jpg');
        }
        /*!map*/
        /*legend*/
            /*Points*/
            .point{
                width: 0.8vw;
                height: 0.8vw;
                border-radius: 50%;
            }
            .pointbg1:hover{
                box-shadow: 0vw 0vw 0.6vw 0.3vw #12ebbb;
            }
            .pointbg2:hover{
                box-shadow: 0vw 0vw 0.6vw 0.3vw #EB1242;
            }
            .pointbg3:hover{
                box-shadow: 0vw 0vw 0.6vw 0.3vw #FF00DE;
            }
            .pointbg4:hover{
                box-shadow: 0vw 0vw 0.6vw 0.3vw #43FF00;
            }
            .pointbg5:hover{
                box-shadow: 0vw 0vw 0.6vw 0.3vw #75bb2c;
            }
            .pointbg6:hover{
                box-shadow: 0vw 0vw 0.6vw 0.3vw #00b1ff;
            }
            .cracow{
                position: absolute;
                left: 39%;
                top: 67.3%;
            }
            .nearmalopolska{
                position: absolute;
                left: 44.7%;
                top: 57.3%;
            }
            .malopolska{
                position: absolute;
                left: 47%;
                top: 57.3%;
            }
            .nearmalopolska2{
                position: absolute;
                left: 44.7%;
                top: 59.6%;
            }
            .pgd{
                position: absolute;
                left: 29.7%;
                top: 13.8%;
            }
            .nearpgd{
                position: absolute;
                left: 27.4%;
                top: 13.8%;
            }
            .kuj{
                position: absolute;
                left: 28.7%;
                top: 29.2%;
            }
            .malbork{
                position: absolute;
                left: 33.3%;
                top: 14.8%;
            }
            .brandemburgia{
                position: absolute;
                left: 3%;
                top: 31.8%;
            }
            .nearbrandemburgia{
                position: absolute;
                left: 0.7%;
                top: 31.8%;
            }
            .nearcr{
                position: absolute;
                left: 36.7%;
                top: 67.3%;
            }
            .nearcr2{
                position: absolute;
                left: 36.7%;
                top: 69.6%;
            }
            .nearcr3{
                position: absolute;
                left: 39%;
                top: 69.6%;
            }
            .plock{
                position: absolute;
                left: 36.7%;
                top: 35%;
            }
            .nearcr4{
                position: absolute;
                left: 36.7%;
                top: 71.9%;
            }
            .nearcr5{
                position: absolute;
                left: 39%;
                top: 71.9%;
            }
            .kalisz{
                position: absolute;
                left: 26.3%;
                top: 45.2%;
            }
            .wlkp{
                position: absolute;
                left: 21%;
                top: 42.2%;
            }
            .czech{
                position: absolute;
                left: 13%;
                top: 72%;
            }
            .sandomierz{
                position: absolute;
                left: 51.2%;
                top: 57.3%;
            }
            .nearmlp3{
                position: absolute;
                left: 47%;
                top: 59.6%;
            }
            .wegry{
                position: absolute;
                left: 53%;
                top: 90%;
            }
            .slask{
                position: absolute;
                left: 28%;
                top: 56%;
            }
            .rhalicka{
                position: absolute;
                left: 67%;
                top: 74%;
            }
            .litwa{
                position: absolute;
                left: 75%;
                top: 30%;
            }
            .mazowsze{
                position: absolute;
                left: 45%;
                top: 37%;
            }
            /*!Points*/
        .legend-content{
            width: 27vw;
        }
        .legend-title{
            position: absolute;
            top: 3vw;
            left: 0;
        }
        .ulegend{
            font-size: 1.5vw;
        }
        /*!legend*/
            /*punctors*/
            .borderpunctor{
                list-style-image: url("../../RESOURCES/WLOKIETEK/SUBSITES/border.jpg");
            }
            .areapunctor{
                list-style-image: url("../../RESOURCES/WLOKIETEK/SUBSITES/area.jpg");
            }
            /*!punctors*/
        /*!legend*/

        .title{
            width: 75%;
            text-align: center;
            font-weight: bolder;
            font-size: 3vw;
        }
        .main{
            background-image: url('../../RESOURCES/WLOKIETEK/SUBSITES/placeholderback.jpg');
            padding: 4vw;
        }
        .navbar{
            height: 7vw;
            border-bottom: 3px violet double;
        }
        .textcontainer{
            height: 30vw;
            padding: 4vw;
        }
        #circularimg{
            height: 22vw;
        }
        .textcontext{
            width: 37vw;
            height: 22vw;
        }
        #context{
            max-height: 18vw;
            overflow: scroll;
        }
        #context::-webkit-scrollbar{
            display: none;
        }
        .footer{
            height: 3vw;
            background-color: #afaeae;
        }
        .paragraphfooter{
            margin: auto;
        }
        .essentials{
            margin: 0;
            font-family: Raleway;
        }
        .tezt{
            transition: all 0.15s ease-in;
        }
/*[END] Individual properties*/