body{
    margin:0;
    padding:0;
    background-color:#8c8c8c;
    background-size:cover;
    overflow: hidden;
}  




header{
    background-color:#484848;
    background-size:cover;
    height:75px;
    padding:20px;
    box-shadow: 0px 0px 5px black;
}


p{
    font-family:Helvetica;
	font-size:18pt;
	text-align:center;
    color:black;
    font-weight:bold;
}

.szlak{
    font-family:Helvetica;
	font-size:18pt;
    text-align:left;
    color:black;
    font-weight:bold;
    width:50%;
    display:inline-block;
    
}




span{
    font-family:Helvetica;
	font-size:18pt;
	text-align:center;
    color:white;
    font-weight:bold;
}


h1{
    font-family: 'Oswald';
    font-weight: bold;
    color:black;
    text-align:center;
    border: solid 2px black;
    border-radius: 30px;  
}

h2{
    font-family: 'Oswald';
    font-weight: bold;
    color:black;
    text-align:center;
}



h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:black;
    text-align:center;
} 



.seczwoj{
    background-color:#8c8c8c;
    background-size:cover;
}

.sec2{
    width:100%;
    height:350px;
    background-color:#8c8c8c;
    background-size:cover;
    border: black solid 2px

}



.sec3{
    margin:auto;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items:center;
}




.sec5{
    margin:auto;
    height:100%;
}

.tytullisty{
    
    font-family: Arial;
    font-weight: bold;
    color:black;
    text-align:left;
    font-size:35pt;
}

.podpunkty{
    font-family: Arial;
    font-weight: bold;
    color:black;
    text-align:left;
    font-size:23pt;
}

li::marker {
    font-size: 2.5em;
  }


button{
    border: solid 2px black;
    padding:10px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    margin:120px 60px;
    height:200px;
    width: 200px;
    transition: 0.5s;
}

button:hover{
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    height:205px;
    width: 205px;
}


.kontener{
    display:flex;
    
    
}

.divkolko{
    width:25%;
    height:100px;
    margin-right:10px;
    margin-left:80px;
}

.Przodkowie{
    border-radius: 50%;
    background-image:url("9k.png");
    
    
}



.biografia{
    border-radius: 50%;
    background-image:url('kazio.jpg')
}



.Dokonania{
    border-radius:50%;
    background-image:url('mini-kazimierz-260x200.png');
}


 
.Szlak{
    border-radius:50%;
    background-image:url('Orle_gniazdo.jpg');
}


.Opis{
    height:100px;
    float:left;
    padding-left:10px;
    padding-right:10px;
}

.opis1{
    font-family:'Ralewale';
	font-size:18pt;
    color:black;
    font-weight:bold;
    text-decoration:underline;
    margin-top:10px;
    
}

.opisos{
    font-size:30pt;
    color:black;
    font-weight:bold;
    font-family:Helvetica;
}
.opisos2{
    font-size:18pt;
    color:black;
    font-weight:bold;
    font-family:Helvetica;
    text-align:left;
}

.opisos3{
    font-size:15pt;
    color:black;
    font-weight:bold;
    font-family:Helvetica;
}

.drzewo{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px
}

.zwoj{
    display: block;
    margin:auto;
    margin-top:50px;
    width:1430px;
    height:300px;
    padding-bottom:230px;
    padding-right:18px;
    position:relative;
    background-image: url('zwoj.png');
    border: solid 3px black;
    border-radius: 30px;
    
}

.zwoj:hover{
    display: block;
    margin:auto;
    width:75%;
    margin-top:50px;
    padding-bottom:228px;
    padding-right:18px ;
    background-image:url('genalogia.jpg');
    background-size: 100% 100%;
    border: solid 3px black;
    border-radius: 30px;

    
}

.liniad{
    background-color:black;
    width:100%;
    height:5px;
}

.os{
    width:60%;
    height:150px;
    margin-top:5px;
    border-radius:30px;
    border: solid 2px black;
}

.os:hover{
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    height:155px;
    width:61%
}

.konteneros{
    display:flex;
    justify-content: center;
    align-items:center;
}

.odsos{
    display:contents;
}



footer{
    background-color:#484848;
    background-size:cover;
    padding:20px;
    clear:both;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    
}


.szlak1{
    width:25%;
    height:300px;
    margin-left:50px;
    display:inline-block;
}

.muzyka1{
    display:flex;
    justify-content: center;
    align-items:center;
}
