.body{
    min-width: 70vw;
    min-height: 100vh;
    margin: 0;
}
.table{
    border: 4px grey ridge;
}
.td{
    font: 1.5vw monospace;
    font-weight: bold;
}
.button{
    background-image: url("../../RESOURCES/MICRO/MineSweeper/un.png");
}
.bg-full{
    background-size: cover;
}
.td-unclicked{
    cursor: pointer;
}
.td-flag{
    background-image: url("../../RESOURCES/MICRO/MineSweeper/flag.png");
}
.td-1{
    color: blue;
}
.td-2{
    color: green;
}
.td-3{
    color: red;
}
.td-4{
    color: darkblue;
}
.td-5{
    color: darkred;
}
.td-6{
    color: #007e7d;
}
.td-7{
    color: black;
}
.td-8{
    color: slategray;
}
.td-bomb{
    background: url("../../RESOURCES/MICRO/MineSweeper/bomb.png"), url("../../RESOURCES/MICRO/MineSweeper/un.png");
    image-rendering: pixelated;
    background-size: 60%, cover;
    background-repeat: no-repeat;
    background-position: center center, center center;
}
.fx{
    display: flex;
}
.fx-center{
    align-items: center;
    justify-content: center;
}
.anim-rainbow{
    animation: rainbow 3s ease-in-out infinite;
}
@keyframes rainbow{
    12.5%{
        color: red;
    }
    25%{
        color: orange;
    }
    37.5%{
        color: yellow;
    }
    50%{
        color: green;
    }
    62.5%{
        color: blue;
    }
    75%{
        color: indigo;
    }
    87.5%{
        color: violet;
    }
    100%{
        color: red !important;
    }
}
.dp-none{
    display: none;
}