/*Essential settings*/
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADADA;
}
.noconn_image{
    max-width: calc(75px + 5vw);
    width: 10vw;
    opacity: 0.3;
}
::-webkit-scrollbar{
    display: none;
}